# Descriptive Statistics

In [1]:
import pandas as pd
df = pd.read_pickle("churn_prediction_v3.pkl")
df.head()

,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,current_balance,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn
0,2401,66,Male,0,self_employed,187,2,755,1458.71,1458.71,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0.0
1,2648,35,Male,0,self_employed,100000,2,3214,5390.37,8704.66,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,0.0
2,2494,31,Male,0,salaried,146,2,41,3913.16,5815.29,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,0.0
3,2629,90,Male,1,self_employed,1020,2,582,2291.91,2291.91,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,1.0
4,1879,42,Male,2,self_employed,1494,3,388,927.72,1401.72,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15929 entries, 0 to 15928
Data columns (total 19 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   vintage                         15929 non-null  int64
 1   age                             15929 non-null  int64
 2   gender                          15929 non-null  category
 3   dependents                      15929 non-null  int64
 4   occupation                      15929 non-null  category
 5   city                            15929 non-null  category
 6   customer_nw_category            15929 non-null  category
 7   branch_code                     15929 non-null  category
 8   current_balance                 15929 non-null  float64
 9   previous_month_end_balance      15929 non-null  float64
 10  average_monthly_balance_prevQ   15929 non-null  float64
 11  average_monthly_balance_prevQ2  15929 non-null  float64
 12  current_month_credit            15929 non-null  float64
 13  previous_month_credit           15929 non-null  float64
 14  current_month_debit             15929 non-null  float64
 15  previous_month_debit            15929 non-null  float64
 16  current_month_balance           15929 non-null  float64
 17  previous_month_balance          15929 non-null  float64
 18  churn                           15929 non-null  category
dtypes: category(6), float64(10), int64(3)
memory usage: 1.7 MB

In [25]:
len(df['age'])

15929

In [26]:
# Find the 10th percentile of the age values ???

# Location of the 10th percentile
P_10 = 10*(len(df['age']) + 1)/100
P_10 = int(P_10)
P_10

1593

In [27]:
sorted_age = list(df['age'])
sorted_age.sort()

In [28]:
sorted_age[P_10]

28

In [29]:
import numpy as np
np.percentile(df['age'], 10)

28.0

In [30]:
# Location of the 5th percentile
P_5 = 5*(len(df['age']) + 1)/100
P_5 = int(P_5)
P_5

796

In [31]:
sorted_age[P_5]

23

In [32]:
np.percentile(df['age'], 5)

23.0

In [33]:
np.percentile(df['age'], 50)

46.0

In [34]:
df['age'].describe()

count    15929.000000
mean        48.173206
std         17.865539
min          1.000000
25%         35.000000
50%         46.000000
75%         60.000000
max         90.000000
Name: age, dtype: float64

In [35]:
5*1593

7965

In [36]:
sorted_age[7965]

46

In [37]:
# for the AGE Col
Q1 = np.percentile(df['age'], 25)
Q3 = np.percentile(df['age'], 75)
IQR = Q3-Q1

upper_limit = Q3 + 1.5*IQR
lower_limit = Q1 - 1.5*IQR
lower_limit, upper_limit

(-2.5, 97.5)

In [38]:
df['age'].min(), df['age'].max()

(1, 90)

In [39]:
# This sum refers to the number on inliers
sum((df['age']>lower_limit) & (df['age']<upper_limit))

15929

In [40]:
# This sum refers to the number on outliers
sum((df['age'] < lower_limit) & (df['age'] > upper_limit))

0

In [41]:
# HW: DO this cal for all the numeric variables, and report the no. of outliers 
# in each of them

numeric_cols = list(df.dtypes[(df.dtypes == 'int64') | (df.dtypes == 'float64')].index)
numeric_cols

['vintage',
 'age',
 'dependents',
 'current_balance',
 'previous_month_end_balance',
 'average_monthly_balance_prevQ',
 'average_monthly_balance_prevQ2',
 'current_month_credit',
 'previous_month_credit',
 'current_month_debit',
 'previous_month_debit',
 'current_month_balance',
 'previous_month_balance']

In [42]:
df[numeric_cols]

,vintage,age,dependents,current_balance,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance
0,2401,66,0,1458.71,1458.71,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71
1,2648,35,0,5390.37,8704.66,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61
2,2494,31,0,3913.16,5815.29,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14
3,2629,90,1,2291.91,2291.91,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79
4,1879,42,2,927.72,1401.72,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15924,2175,40,0,9996.84,10032.93,5883.00,191.49,0.10,9923.99,0.10,0.10,10009.28,7483.44
15925,2500,64,0,309.64,5458.35,1738.15,300.91,0.04,46961.44,5148.76,41642.90,2733.69,2340.96
15926,2470,44,0,1049.67,2716.22,3622.00,6016.92,0.06,966.96,1428.63,5714.34,2100.30,1846.93
15927,2537,34,1,1106.86,992.59,2729.22,2170.80,8732.47,1714.39,8618.20,1142.96,5726.47,605.49
15928,2287,56,0,2098.29,1879.26,2122.82,2131.59,362.14,0.26,143.11,314.54,2132.49,2083.49

In [43]:
df[numeric_cols].corr().round(2)

,vintage,age,dependents,current_balance,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance
vintage,1.00,-0.01,-0.00,-0.00,0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.01,-0.00,-0.00
age,-0.01,1.00,0.01,0.05,0.05,0.05,0.05,0.04,0.03,0.04,0.03,0.05,0.05
dependents,-0.00,0.01,1.00,0.00,0.01,0.01,0.01,0.02,0.02,0.02,0.03,0.01,0.01
current_balance,-0.00,0.05,0.00,1.00,0.96,0.97,0.72,0.08,0.05,0.05,0.06,0.99,0.96
previous_month_end_balance,0.00,0.05,0.01,0.96,1.00,0.97,0.72,0.08,0.11,0.11,0.09,0.98,0.97
average_monthly_balance_prevQ,-0.00,0.05,0.01,0.97,0.97,1.00,0.76,0.10,0.08,0.10,0.11,0.98,1.00
average_monthly_balance_prevQ2,-0.00,0.05,0.01,0.72,0.72,0.76,1.00,0.06,0.06,0.06,0.09,0.73,0.73
current_month_credit,-0.00,0.04,0.02,0.08,0.08,0.10,0.06,1.00,0.57,0.80,0.46,0.09,0.11
previous_month_credit,-0.00,0.03,0.02,0.05,0.11,0.08,0.06,0.57,1.00,0.39,0.74,0.08,0.10
current_month_debit,-0.00,0.04,0.02,0.05,0.11,0.10,0.06,0.80,0.39,1.00,0.46,0.10,0.11
previous_month_debit,-0.01,0.03,0.03,0.06,0.09,0.11,0.09,0.46,0.74,0.46,1.00,0.08,0.13
current_month_balance,-0.00,0.05,0.01,0.99,0.98,0.98,0.73,0.09,0.08,0.10,0.08,1.00,0.97
previous_month_balance,-0.00,0.05,0.01,0.96,0.97,1.00,0.73,0.11,0.10,0.11,0.13,0.97,1.00

In [44]:
numeric_features = df[numeric_cols]
numeric_features.corr().round(2)

,vintage,age,dependents,current_balance,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance
vintage,1.00,-0.01,-0.00,-0.00,0.00,-0.00,-0.00,-0.00,-0.00,-0.00,-0.01,-0.00,-0.00
age,-0.01,1.00,0.01,0.05,0.05,0.05,0.05,0.04,0.03,0.04,0.03,0.05,0.05
dependents,-0.00,0.01,1.00,0.00,0.01,0.01,0.01,0.02,0.02,0.02,0.03,0.01,0.01
current_balance,-0.00,0.05,0.00,1.00,0.96,0.97,0.72,0.08,0.05,0.05,0.06,0.99,0.96
previous_month_end_balance,0.00,0.05,0.01,0.96,1.00,0.97,0.72,0.08,0.11,0.11,0.09,0.98,0.97
average_monthly_balance_prevQ,-0.00,0.05,0.01,0.97,0.97,1.00,0.76,0.10,0.08,0.10,0.11,0.98,1.00
average_monthly_balance_prevQ2,-0.00,0.05,0.01,0.72,0.72,0.76,1.00,0.06,0.06,0.06,0.09,0.73,0.73
current_month_credit,-0.00,0.04,0.02,0.08,0.08,0.10,0.06,1.00,0.57,0.80,0.46,0.09,0.11
previous_month_credit,-0.00,0.03,0.02,0.05,0.11,0.08,0.06,0.57,1.00,0.39,0.74,0.08,0.10
current_month_debit,-0.00,0.04,0.02,0.05,0.11,0.10,0.06,0.80,0.39,1.00,0.46,0.10,0.11
previous_month_debit,-0.01,0.03,0.03,0.06,0.09,0.11,0.09,0.46,0.74,0.46,1.00,0.08,0.13
current_month_balance,-0.00,0.05,0.01,0.99,0.98,0.98,0.73,0.09,0.08,0.10,0.08,1.00,0.97
previous_month_balance,-0.00,0.05,0.01,0.96,0.97,1.00,0.73,0.11,0.10,0.11,0.13,0.97,1.00

In [48]:
df['age'].skew()  # close to 0, means almost a normal distribution

0.3254242672811818

In [49]:
df['dependents'].skew()

18.50150115245441

In [50]:
df['dependents'].describe().round(2)

count    15929.00
mean         0.37
std          1.05
min          0.00
25%          0.00
50%          0.00
75%          0.00
max         52.00
Name: dependents, dtype: float64

In [51]:
import pandas as pd
from scipy.stats import spearmanr

# Calculate Spearman's correlation coefficient
correlation, p_value = spearmanr(df['churn'], df['current_balance'])

# Print the correlation coefficient
print(f"Spearman's correlation coefficient: {correlation:.2f}")
print(f"P-value: {p_value:.4f}")

Spearman's correlation coefficient: -0.28
P-value: 0.0000

In [61]:
pd.pivot_table(df, index='gender', columns='occupation', aggfunc='mean')['previous_month_end_balance']

occupation      company      retired     salaried  self_employed      student
gender
Female      7252.133333  9451.870227  6741.694728    6740.108853  4406.522451
Male        4870.325500  5924.387243  7348.304184    8863.783117  4722.288921

In [52]:
# Calculate Spearman's correlation coefficient using Pandas
correlation = df['churn'].corr(df['age'], method='spearman')

# Print the correlation coefficient
print(f"Spearman's correlation coefficient: {correlation:.2f}")

Spearman's correlation coefficient: -0.02

In [62]:
df.groupby(df['customer_nw_category']).mean()['current_balance']

customer_nw_category
1    12118.510080
2     7735.583403
3     4783.517126
Name: current_balance, dtype: float64

In [64]:
# Calculate Spearman's correlation coefficient between customer_nw_category and churn
correlation, _ = spearmanr(df['customer_nw_category'], df['churn'])

# Print the correlation coefficient
print(f"Spearman's correlation coefficient (customer_nw_category and churn): {correlation:.2f}")

Spearman's correlation coefficient (customer_nw_category and churn): 0.01

In [65]:
# Calculate Spearman's correlation coefficient between customer_nw_category and churn
correlation, _ = spearmanr(df['customer_nw_category'], df['age'])

# Print the correlation coefficient
print(f"Spearman's correlation coefficient (customer_nw_category and age): {correlation:.2f}")

Spearman's correlation coefficient (customer_nw_category and age): -0.06

In [ ]:
# Cramer's V >>> 0 to 1, 0 means no association, 1 means strong association

In [66]:
from scipy.stats import chi2_contingency

# Create a contingency table for 'gender' and 'occupation'
contingency_table = pd.crosstab(df['gender'], df['occupation'])
contingency_table

occupation  company  retired  salaried  self_employed  student
gender
Female            3      220      1030           4518      563
Male             20      925      2715           5342      593

In [49]:
# Calculate the chi-square test statistic, p-value, and degrees of freedom
chi2, p_value, _, _ = chi2_contingency(contingency_table)

# Calculate Cramer's V
n = contingency_table.sum().sum()
phi = np.sqrt(chi2 / n)
k = min(contingency_table.shape) - 1
v = phi / np.sqrt(k)

# Print Cramer's V
print(f"Cramer's V (gender and occupation): {v:.2f}")

Cramer's V (gender and occupation): 0.20

In [ ]:
# Cramer's V close to 0: It suggests a weak or negligible association between the variables.
# Cramer's V around 0.1: It implies a small or weak association.
# Cramer's V around 0.3: It suggests a moderate association.
# Cramer's V around 0.5 or higher: It indicates a strong association.

Kendall's tau is a suitable measure for assessing the strength and direction of the relationship between two ordinal variables.

In [67]:
from scipy.stats import kendalltau
# Calculate Kendall's correlation coefficient between customer_nw_category and age
correlation, _ = kendalltau(df['customer_nw_category'], df['dependents'])

# Print the correlation coefficient
print(f"Kendall's correlation coefficient (customer_nw_category and age): {correlation:.2f}")

Kendall's correlation coefficient (customer_nw_category and age): 0.01

In [52]:
# HW Problem

# "A website displays 10 advertisements and the revenue generated by the website depends
# on the number of visitors to the site clicking on any of the advertisements displayed on
# the website. The data collected by the company has revealed that out of 2500 visitors,
# 30 visitors clicked on 1 advertisement, 15 clicked on 2 advertisements, and 5 clicked on
# 3 advertisements. Remaining did not click on any of the advertisements. Calculate:
# (a) The probability that a visitor to the website will click on an advertisement.
# (b) The probability that the visitor will click on at least two advertisements. 
# (c) The probability that a visitor will not click on any advertisements."

In [69]:
df.head()

,vintage,age,gender,dependents,occupation,city,customer_nw_category,branch_code,current_balance,previous_month_end_balance,average_monthly_balance_prevQ,average_monthly_balance_prevQ2,current_month_credit,previous_month_credit,current_month_debit,previous_month_debit,current_month_balance,previous_month_balance,churn
0,2401,66,Male,0,self_employed,187,2,755,1458.71,1458.71,1458.71,1449.07,0.20,0.20,0.20,0.20,1458.71,1458.71,0.0
1,2648,35,Male,0,self_employed,100000,2,3214,5390.37,8704.66,7799.26,12419.41,0.56,0.56,5486.27,100.56,6496.78,8787.61,0.0
2,2494,31,Male,0,salaried,146,2,41,3913.16,5815.29,4910.17,2815.94,0.61,0.61,6046.73,259.23,5006.28,5070.14,0.0
3,2629,90,Male,1,self_employed,1020,2,582,2291.91,2291.91,2084.54,1006.54,0.47,0.47,0.47,2143.33,2291.91,1669.79,1.0
4,1879,42,Male,2,self_employed,1494,3,388,927.72,1401.72,1643.31,1871.12,0.33,714.61,588.62,1538.06,1157.15,1677.16,1.0

In [70]:
# MArginal prob. >>> Prob of an event occuring irrespective of any other event.

In [75]:
# Find the marginal prob of male in the dataset ???
# If I randomly pick a customer from the dataset, what is the prob. that 
# this customer will turn out to be a male??

# P(Male) = no. of males in the dataset/total no. of customers
sum(df.gender=='Male')/len(df.gender)

0.6023604746060645

In [76]:
df['gender'].value_counts()

Male      9595
Female    6334
Name: gender, dtype: int64

In [77]:
df['gender'].value_counts()['Male']

9595

In [78]:
df['gender'].value_counts()['Male'] / len(df)

0.6023604746060645

In [79]:
df['gender'].value_counts(normalize=True)

Male      0.60236
Female    0.39764
Name: gender, dtype: float64

In [82]:
# P(churn) = ???   (marginal prob. of customer churn)
df.churn.value_counts(normalize=True )[1.0]

0.18751961830623393

In [ ]:
# JOINT PROB : prob. that 2 events are occuring simulteaneously
# P(MAle and salaried) = ???

# If I randomly pick a customer from the dataset, what is the prob. that 
# this customer will turn out to be a male, AND SALARIED ??

In [83]:
pd.crosstab(df['gender'], df['occupation'])

occupation  company  retired  salaried  self_employed  student
gender
Female            3      220      1030           4518      563
Male             20      925      2715           5342      593

In [84]:
2715/len(df)

0.17044384456023604

In [85]:
sum((df.gender=='Male') & (df.occupation=='salaried'))

2715

In [86]:
sum((df.gender=='Male') & (df.occupation=='salaried')) / len(df)

0.17044384456023604

In [88]:
pd.crosstab(df['gender'],df['occupation'])['salaried'].values[1]/len(df)

0.17044384456023604

In [90]:
pd.crosstab(df['gender'],df['occupation'])['salaried']

gender
Female    1030
Male      2715
Name: salaried, dtype: int64

In [91]:
pd.crosstab(df['gender'],df['occupation'])['salaried']['Male']/len(df)

0.17044384456023604

In [93]:
pd.crosstab(df['gender'],df['occupation'])

occupation  company  retired  salaried  self_employed  student
gender
Female            3      220      1030           4518      563
Male             20      925      2715           5342      593

In [94]:
pd.crosstab(df['gender'],df['occupation']).loc['Male', 'salaried']

2715

In [95]:
pd.crosstab(df['gender'],df['occupation']).loc['Male', 'salaried'] / len(df)

0.17044384456023604

In [97]:
pd.crosstab(df['churn'],df['occupation'])

occupation  company  retired  salaried  self_employed  student
churn
0.0              22      967      3081           7905      967
1.0               1      178       664           1955      189

In [100]:
# P(churn  and self-employed) = ???\
sum((df['churn']== 1)&(df['occupation']=='self_employed'))/len(df)

0.12273212379935966